@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand&display=swap');

body {
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    margin: 0;
    background: #424242;
    color: #fafafa;
}

h1, h2, h3 {
    font-family: Oswald, sans-serif;
    font-weight: 400;
    color: #9500ff;
}

#hero-image {
    width: 100%;
    height: 600px;
    filter: grayscale(0.85);
    object-fit: cover;
    background-size: cover;
    background: no-repeat center center;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}


.logo-home {
    width: 40px;
    float: left;
    border-radius: 50%;
}

nav a {
    text-decoration: none;
    color: #fafafa;
}

nav li {
    list-style-type: none;
}

#nav-element {
    margin: 10px;
    height: 5em;
    width: 5em;
    border-radius: 50%
    filter: #9500ff;
}