@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand&display=swap');

/* general text and background rules for site */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    margin: 0;
    background: #424242;
    color: #fafafa;
}

h1, h2, h3 {
    font-family: Oswald, sans-serif;
    font-weight: 400;
    color: #9500ff;
    text-decoration: none;
}

/* logo and home page navigation top left */
#logo {
    margin-top: 15px;
    margin-bottom: 30px;
}

#logo h1 {
    font-size: 2.5rem;
}

#logo a:link {
    text-decoration: none;
}

#logo h1:hover {
    filter: drop-shadow(0 1px 1px #d6adf7)
}

.logo-home {
    height: 55px;
    text-align: left;
    border-radius: 50%;
    margin-top: 4px;
    margin-left: 10px;
}

#page-title {
    font-size: 1.8rem;
    margin: 5px;
    margin-top: 10px;
    padding-left: 15px;
}

/* remove bullets from all list elements */
nav li {
    list-style-type: none;
}

#text-nav {
    width: 100%
}

/* styling for text navigation bar */
#text-nav li {
    display: inline;
    text-align: center;
}

#text-nav a:link {
    text-decoration: none;
    color: #fafafa;
    margin: 10px;
    padding-bottom: 60px;
}

#text-nav a:hover {
    color: #fafafa;
    font-size: x-large;
}

#text-nav a:visited {
    color: #fafafa;
}

.active {
    color: #e7d0fa;
    font-size: x-large;
}

/* hero image */
#hero-outer {
    height: 600px;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
    background-color: rgb(149, 153, 153);
}

#hero-image {
    width: 100%;
    height: 620px;
    background: url(../images/silks-splits-photo.jpg) no-repeat center center;
    filter: grayscale(0.85);
    object-fit: cover;
    background-size: cover;
    object-position: center;
    padding-top: 50px;
    overflow: hidden;
    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}
/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.07);
    }
}

#hero-box {
    font-size: 160%;
    font-family: inherit;
    text-align: right;
    width: 250px;
    height: 200px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 15px;
    background-color: rgb(231, 208, 250, 0.7);
    top: 30px;
    left: 120px;
    position: absolute;
}

/* styling for the visual image buttons */
#visual-nav {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    clear: both;
    display: flex;
    justify-content: space-evenly;
}

#visual-nav div {
    margin: 10px 20px; 
    width: 250px; 
    height: 250px;
    display: inline;
    float: left; 
    padding: 10%;
}

.pole-button {
    background: url(../images/polebutton-purple.png) no-repeat center center;
    background-size: contain;
    background-color: #d6adf7;
    border: solid;
    filter: brightness(0.7) drop-shadow(0 0 1px #000);
    border-width: 5px;
    border-radius: 50%;
    border-color: #9500ff;
}

.hoop-button {
    background: url(../images/hoopbutton-purple.png) no-repeat center center;
    background-size: contain;
    background-color: #d6adf7;
    border: solid;
    filter: brightness(0.7) drop-shadow(0 0 1px #000);
    border-width: 5px;
    border-radius: 50%;
    border-color: #9500ff;
}

.silks-button {
    background: url(../images/silksbutton-purple.png) no-repeat center center;
    background-size: contain;
    background-color: #d6adf7;
    border: solid;
    filter: brightness(0.7) drop-shadow(0 0 1px #000);
    border-width: 5px;
    border-radius: 50%;
    border-color: #9500ff;
}

.floor-button {
    background: url(../images/yogabutton-purple.png) no-repeat center center;
    background-size: contain;
    background-color: #d6adf7;
    border: solid;
    filter: brightness(0.7) drop-shadow(0 0 1px #000);
    border-width: 5px;
    border-radius: 50%;
    border-color: #9500ff;
    margin-right: 30px;
    clear: right;
}

#visual-nav a:hover div {
    filter: drop-shadow(0 4px 8px #000);
    margin-top: -4px;
}

.active-visual div {
    filter: drop-shadow(0 4px 6px #000);
}

/* footer styling */

footer {
    padding-top: 5px;
    clear: left;
    clear: right;
    width: 100%;
    height: 150px;   
}

#socials-space {
    margin-top: 5px;
    clear: both;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 300%;
    margin: 1%;
    padding: 5%;
    color: #fafafa;
}

.social-networks a:hover i {
    color: #9500ff;
    filter: drop-shadow(0 0 5px #e7d0fa)
}

.top-button i {
    font-size: 300%;
    margin: 1%;
    padding: 5%;
    color: #fafafa;
    text-align: right;
}

/* why-conditioning page specific formatting */
/* inspiring image */
#inspiring-outer {
    height: 675px;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
    background-color: rgb(149, 153, 153);
}

#inspiring-image {
    width: 100%;
    height: 775px;
    background: url(../images/hoop-splits-photo.jpg) no-repeat center center;
    filter: grayscale(0.85);
    object-fit: cover;
    background-size: cover;
    object-position: center;
    padding-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
}

#inspire-box-first {
    font-size: 130%;
    font-family: inherit;
    width: 300px;
    height: 200px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgb(231, 208, 250, 0.7) ;
    top: 30px;
    left: 150px;
    position: absolute;
}

#inspire-box-second {
    font-size: 130%;
    font-family: inherit;
    width: 300px;
    height: 200px;
    padding-top: 0px;
    padding-left: 10px;
    background-color: rgb(231, 208, 250, 0.7) ;
    top: 30px;
    right: 150px;
    position: absolute;
}

#inspire-box-third {
    font-size: 130%;
    font-family: inherit;
    width: 300px;
    height: 200px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgb(231, 208, 250, 0.7) ;
    bottom: 30px;
    left: 300px;
    position: absolute;
}

/* video page specific formatting */
/* creating space for the video reels */
#video-box-wrapper {
    height: 550px;
    width: 100%;
    text-align: left;
    font-size: x-large;
    background-color: #424242;
    border: 10px solid  rgb(66, 66, 66, 0.3);
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: nowrap;
    overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera (from W3)*/
.no-show-scroll::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox (from W3)*/
  .no-show-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

#page-title a:link {
    text-decoration: none;
    color: #9500ff;
}

#page-title a:visited {
    color: #9500ff;
} 

#page-title a:hover {
    color: #d6adf7;
}

.scrollbox div {
    width: 250px;
    height: 250px;
    padding: 50px;
    margin: 30px 50px 30px 50px;
    display: inline-block;
    flex: 0 0 auto;
    background-color: #424242;
    border: 5px solid #d6adf7;
    text-align: center;
}

.scrollbox a {
    text-decoration: none;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.pole-video {
    background-color: #424242;
    background: url(../images/pole-splits-photo.jpg) no-repeat center center;
    object-fit: cover;
    background-size: cover;
    overflow: hidden;
    border-radius: 2px;
    filter: grayscale(0.85) brightness(0.6) drop-shadow(0 0 1px #000) blur(3px);
}

.hoop-video {
    background-color: #424242;
    background: url(../images/hoop-splits-photo.jpg) no-repeat center center;
    object-fit: cover;
    background-size: cover;
    overflow: hidden;
    border-radius: 2px;
    filter: grayscale(0.85) brightness(0.6) drop-shadow(0 0 1px #000) blur(3px);
}

.silks-video {
    background-color: #424242;
    background: url(../images/silks-splits-photo.jpg) no-repeat center center;
    object-fit: cover;
    background-size: cover;
    overflow: hidden;
    border-radius: 2px;
    filter: grayscale(0.85) brightness(0.6) drop-shadow(0 0 1px #000) blur(3px);
}

.floor-video {
    background-color: #424242;
    background: url(../images/yoga-photo.jpg) no-repeat center center;
    object-fit: cover;
    background-size: cover;
    overflow: hidden;
    border-radius: 2px;
    filter: grayscale(0.85) brightness(0.6) drop-shadow(0 0 1px #000) blur(3px);
}

.scrollbox a:hover div {
    object-fit: cover;
    background-size: cover;
    border-radius: 2px;
    filter: grayscale(0.85) brightness(0.95) drop-shadow(0 0 5px #fafafa) blur(0);
    overflow: hidden;
    /* animates zoom effect on hovering */
    animation-name: video-zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    overflow: hidden;
}
/* creates the level of zoom for link image */
@keyframes video-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

/* video instruction boxes */
.instruction-container {
    width: 90vw;
    height: 250px;
    padding: 50px;
    margin: 30px 50px 100px 50px;
    display: flex;
    justify-content: space-evenly;
}

.instruct-box-first {
    font-size: 130%;
    font-family: inherit;
    width: 300px;
    height: 200px;
    margin: 20px;
    padding-top: 10px;
    padding-left: 5px;
    background-color: rgb(231, 208, 250, 0.7);
}

.instruct-box-second {
    font-size: 130%;
    font-family: inherit;
    width: 300px;
    height: 200px;
    margin: 20px;
    padding-top: 10px;
    padding-left: 5px;
    background-color: rgb(231, 208, 250, 0.7);
}

.instruct-box-third {
    font-size: 130%;
    font-family: inherit;
    width: 300px;
    height: 200px;
    margin: 20px;
    padding-top: 10px;
    padding-left: 5px;
    background-color: rgb(231, 208, 250, 0.7);
}

/* about-us boxes */
#about-container {
    width: 95vw;
    height: auto;
    padding: 30px;
    margin: 10px 50px 30px 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#about-box-first {
    font-size: 120%;
    font-family: inherit;
    width: 300px;
    height: 300px;
    margin: 15px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgb(231, 208, 250, 0.7);
}

#about-box-second {
    font-size: 120%;
    font-family: inherit;
    text-align: justify;
    width: 410px;
    height: 300px;
    margin: 15px;
    padding: 10px;
    background-color: rgb(231, 208, 250, 0.7);
}

#about-box-third {
    width: 300px;
    height: 300px;
    padding-top: 0;
    padding-left: 0;
    margin: 15px;
    background-color: rgb(231, 208, 250, 0.7);
    background: url(../images/carla-1.jpg) no-repeat center center;
    background-size:contain;
    object-fit: scale-down;
    border: solid 2px rgb(231, 208, 250, 0.7);
}

#about-container-2 {
    width: 95vw;
    height: auto;
    padding: 30px;
    margin: 30px 50px 30px 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#about1-box-first {
    font-size: 120%;
    font-family: inherit;
    width: 410px;
    height: 300px;
    margin: 15px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgb(231, 208, 250, 0.7);
}

#about1-box-second {
    font-size: 120%;
    font-family: inherit;
    width: 310px;
    height: 300px;
    margin: 15px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgb(231, 208, 250, 0.7);
}

#about1-box-second a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

#about1-box-third {
    font-size: 120%;
    font-family: inherit;
    width: 310px;
    height: 300px;
    margin: 15px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgb(231, 208, 250, 0.7) ;
}

/* media queries */
/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    .nav-box {
        height: 320px;
        overflow: hidden;
    }

    #text-nav {
        width: 100%
    }
    
    /* styling for text navigation bar */
    #text-nav li {
        width: 100%;
        display: flex;
        text-align: center;
        float: left;
        font-size: 90%;
        margin: 0 0 0 20px;
    }
    
    #text-nav a:link {
        text-decoration: none;
        color: #fafafa;
        margin: 10px;
        padding-bottom: 5px;
    }

    #hero-outer {
        height: 475px;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        overflow: hidden;
        position: relative;
        background-color: rgb(149, 153, 153);
    }
    
    #hero-image {
        width: 100%;
        height: 500px;
        background: url(../images/silks-splits-photo.jpg) no-repeat center center;
        filter: grayscale(0.85);
        object-fit: cover;
        background-size: cover;
        object-position: center;
        padding-top: 30px;
        overflow: hidden;
        /* animates zoom effect on loading page */
        animation-name: hero-zoom;
        animation-duration: 10s;
        animation-fill-mode: forwards;
    }

    #visual-nav {
        margin: 50px auto 0;
    }
    
    #visual-nav div {
        width: 210px; 
        height: 210px;
    }
        
    /* inspiring image scale down*/
    #inspiring-outer {
        height: 475px;
        width: 100%;
        margin-bottom: 50px;
        margin-top: 10px;
        overflow: hidden;
        position: relative;
        background-color: rgb(149, 153, 153);
    }

    #inspiring-image {
        width: 100%;
        height: 575px;
        background: url(../images/hoop-splits-photo.jpg) no-repeat center center;
        filter: grayscale(0.85);
        object-fit: cover;
        background-size: cover;
        object-position: center;
        padding-top: 50px;
        margin-bottom: 50px;
        overflow: hidden;
    }

    #inspire-box-first {
        font-size: 100%;
        font-family: inherit;
        width: 250px;
        height: 150px;
        padding-top: 10px;
        padding-left: 5px;
        background-color: rgb(231, 208, 250, 0.7) ;
        top: 30px;
        left: 120px;
        position: absolute;
    }

    #inspire-box-second {
        font-size: 100%;
        font-family: inherit;
        width: 250px;
        height: 180px;
        padding-top: 10px;
        padding-left: 5px;
        background-color: rgb(231, 208, 250, 0.7) ;
        top: 30px;
        right: 150px;
        position: absolute;
    }

    #inspire-box-third {
        font-size: 100%;
        font-family: inherit;
        width: 250px;
        height: 150px;
        padding-top: 10px;
        padding-left: 5px;
        background-color: rgb(231, 208, 250, 0.7) ;
        bottom: 30px;
        left: 300px;
        position: absolute;
    }

/* scale down the visual nav buttons */    
    #visual-nav div {
        margin: 10px 10px; 
        width: 150px; 
        height: 150px;
        display: inline;
        float: left;
        padding: 10%;
    }

    /* about-us boxes */
    #about-container {
        width: 97vw;
        height: auto;
        padding: 30px;
        margin: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    #about-container-2 {
        width: 97vw;
        height: auto;
        padding: 30px;
        margin: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
}
  
 /* for medium screen sizes from 950px wide and down */
 @media screen and (max-width: 950px) {
    #text-nav {
        width: 100%
    }
    
    /* styling for text navigation bar */
    #text-nav li {
        width: 100%;
        display: flex;
        text-align: center;
        float: left;
        font-size: 90%;
    }

    #hero-box {
        font-size: 120%;
        font-family: inherit;
        text-align: right;
        width: 200px;
        height: 150px;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 15px;
        background-color: rgb(231, 208, 250, 0.7);
        top: 30px;
        left: 40px;
        position: absolute;
    }

    #visual-nav {
        clear: both;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        padding: 20px;
        align-items: center;
    }
    
    #visual-nav div {
        margin: 10px 20px; 
        width: 250px; 
        height: 250px;
        display: inline;
        float: left; 
        padding: 10%;
    }

    #visual-nav a:hover div {
        filter: drop-shadow(0 0 2px #000);
        margin-top: 0;
    }
 }
 
 /* for small screens 800px and down */
 @media screen and (max-width: 800px) {
    #page-title {
        font-size: 1.6rem;
        margin: 5px;
        margin-top: 10px;
        padding-left: 15px;
    }

    #hero-outer {
        height: 250px;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        overflow: hidden;
        position: relative;
        background-color: rgb(149, 153, 153);
    }
    
    #hero-image {
        width: 100%;
        height: 250px;
        background: url(../images/silks-splits-photo.jpg) no-repeat center center;
        filter: grayscale(0.85);
        object-fit: cover;
        background-size: cover;
        object-position: center;
        margin-bottom: 50px;
        overflow: hidden;
        /* animates zoom effect on loading page */
        animation-name: hero-zoom;
        animation-duration: 10s;
        animation-fill-mode: forwards;
    }
        
    /* inspiring image scale down*/
    #inspiring-outer {
        height: 475px;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
        overflow: hidden;
        position: relative;
        background-color: rgb(149, 153, 153);
    }

    #inspiring-image {
        width: 100%;
        height: 575px;
        background: url(../images/hoop-splits-photo.jpg) no-repeat center center;
        filter: grayscale(0.85);
        object-fit: cover;
        background-size: cover;
        object-position: center;
        padding-top: 50px;
        margin-bottom: 50px;
        overflow: hidden;
    }

    #inspire-box-first {
        font-size: 100%;
        font-family: inherit;
        width: 250px;
        height: 150px;
        padding-top: 5px;
        padding-left: 5px;
        background-color: rgb(231, 208, 250, 0.7) ;
        top: 10px;
        left: 20px;
        position: absolute;
    }

    #inspire-box-second {
        font-size: 100%;
        font-family: inherit;
        width: 250px;
        height: 160px;
        padding-top: 1px;
        padding-left: 5px;
        background-color: rgb(231, 208, 250, 0.7) ;
        top: 162px;
        right: 20px;
        position: absolute;
    }

    #inspire-box-third {
        font-size: 100%;
        font-family: inherit;
        width: 250px;
        height: 140px;
        padding-top: 1px;
        padding-left: 5px;
        background-color: rgb(231, 208, 250, 0.7) ;
        bottom: 10px;
        left: 20px;
        position: absolute;
    }

/* scale back up the visual nav buttons so that they stack in a column */    
    #visual-nav div {
        margin: 10px 10px; 
        width: 250px; 
        height: 250px;
    }

    .scrollbox div {
        font-size: 80%;
        width: 180px;
        height: 180px;
        padding: 30px;
        margin: 30px;
        display: inline-block;
        flex: 0 0 auto;
        background-color: #424242;
        border: 3px solid #d6adf7;
        text-align: center;
    }
}