@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand&display=swap');

/* general text and background rules for site */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    margin: 0;
    background: #424242;
    color: #fafafa;
}

h1, h2, h3 {
    font-family: Oswald, sans-serif;
    font-weight: 400;
    color: #9500ff;
    text-decoration: none;
}

/* logo and home page navigation top left */
#logo h1 {
    font-size: 2.5rem;
}

#logo a:link {
    text-decoration: none;
}

#logo h1:hover {
    filter: drop-shadow(0 1px 1px #d6adf7)
}

.logo-home {
    height: 55px;
    text-align: left;
    border-radius: 50%;
    margin-top: 4px;
    margin-left: 10px;
}


/* remove bullets from all list elements */
nav li {
    list-style-type: none;
}

/* styling for text navigation bar */
#text-nav li {
    display: inline;
}

#text-nav a:link {
    text-decoration: none;
    color: #fafafa;
    margin: 10px;
    padding-bottom: 100px;
}

#text-nav a:hover {
    color: #fafafa;
    font-size: x-large;
}

#text-nav a:visited {
    color: #fafafa;
}

.active {
    color: #e7d0fa;
    font-size: x-large;
}

/* hero image */
#hero-outer {
    height: 675px;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
    background-color: rgb(149, 153, 153);
}

#hero-image {
    width: 100%;
    height: 775px;
    background: url(../images/silks-splits-photo.jpg) no-repeat center center;
    filter: grayscale(0.85);
    object-fit: cover;
    background-size: cover;
    object-position: center;
    padding-top: 50px;
    margin-top: -50px;
    margin-bottom: 50px;
    overflow: hidden;
    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* styling for the visual image buttons */
#visual-nav {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
}

#visual-nav div {
    margin: 10px; 
    width: 22%; 
    height: 250px;
    display: inline;
    float: left;
    padding: 5%;
}

.pole-button {
    background: url(../images/polebutton-purple.png) no-repeat center center;
    background-size: contain;
    background-color: #d6adf7;
    border: solid;
    filter: brightness(0.7) drop-shadow(0 0 1px #000);
    border-width: 5px;
    border-radius: 50%;
    border-color: #9500ff;
}

.hoop-button {
    background: url(../images/hoopbutton-purple.png) no-repeat center center;
    background-size: contain;
    background-color: #d6adf7;
    border: solid;
    filter: brightness(0.7) drop-shadow(0 0 1px #000);
    border-width: 5px;
    border-radius: 50%;
    border-color: #9500ff;
}

.silks-button {
    background: url(../images/silksbutton-purple.png) no-repeat center center;
    background-size: contain;
    background-color: #d6adf7;
    border: solid;
    filter: brightness(0.7) drop-shadow(0 0 1px #000);
    border-width: 5px;
    border-radius: 50%;
    border-color: #9500ff;
}

.floor-button {
    background: url(../images/yogabutton-purple.png) no-repeat center center;
    background-size: contain;
    background-color: #d6adf7;
    border: solid;
    filter: brightness(0.7) drop-shadow(0 0 1px #000);
    border-width: 5px;
    border-radius: 50%;
    border-color: #9500ff;
    margin-right: 30px;
}

#visual-nav a:hover div {
    filter: drop-shadow(0 4px 8px #000);
    margin-top: -4px;
}

.active-visual div {
    filter: drop-shadow(0 4px 6px #000);
}

/* footer styling */

footer {
    clear: left;
    clear: right;
    width: 100%;
    height: 150px;   
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 300%;
    margin: 1%;
    padding: 5%;
    color: #fafafa;
}

.social-networks a:hover i {
    color: #9500ff;
    filter: drop-shadow(0 0 5px #e7d0fa)
}

/* why-conditioning page specific formatting */
/* inspiring image */
#inspiring-outer {
    height: 675px;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
    background-color: rgb(149, 153, 153);
}

#inspiring-image {
    width: 100%;
    height: 775px;
    background: url(../images/hoop-splits-photo.jpg) no-repeat center center;
    filter: grayscale(0.85);
    object-fit: cover;
    background-size: cover;
    object-position: center;
    padding-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
}

#inspire-box-first {
    font-size: 130%;
    font-family: inherit;
    width: 300px;
    height: 200px;
    padding-top: 30px;
    padding-left: 10px;
    background-color: rgb(231, 208, 250, 0.7) ;
    top: 30px;
    left: 150px;
    position: absolute;
}

#inspire-box-second {
    font-size: 130%;
    font-family: inherit;
    width: 300px;
    height: 200px;
    padding-top: 30px;
    padding-left: 10px;
    background-color: rgb(231, 208, 250, 0.7) ;
    top: 30px;
    right: 150px;
    position: absolute;
}

#inspire-box-third {
    font-size: 130%;
    font-family: inherit;
    width: 300px;
    height: 200px;
    padding-top: 30px;
    padding-left: 10px;
    background-color: rgb(231, 208, 250, 0.7) ;
    bottom: 30px;
    left: 300px;
    position: absolute;
}

/* creating space for the video reels */
#video-box-wrapper {
    height: 700px;
    width: 100%;
    text-align: center;
    display: flex;
    background-color: rgb(255, 127, 242);
}
.scrollbox div {
    width: 500px;
    height: 500px;
    padding:50px;
    display: inline-block;
    flex: 0 0 auto;
    background-color: #9500ff;
    border: 5px solid aquamarine;
    text-align: center;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}